# Default ignored fileshttps://github.com/LunarAkai/FortunaCookies/blob/master/src/main/java/de/lunarakai/fortunacookies/FortunaCookies.java
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
